*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
} 

body{
    font-family: 'DM Sans', sans-serif;
    background-color:#0C223F;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

header{
    text-align: center;
    background-color: black;
    height: 100px;

}


.imagenlogo{
    display: inline-block;
}

.logo{
    display: inline-block;
    align-items: center;
    color: white;
    margin-right: 40px;
    margin-top: 30px;

}
.camara{
    height: 30px;
    width: 30px;
}

.navbarra{
    display: inline-block;
    justify-content: center;
       
}


.nav-enlace{
    display: inline-block;
    text-decoration: none;
    background-color: aliceblue;
    color: black;
    padding: 10px 20px;
    border-radius: 20px; 
}

.nav-enlace:hover{
    background: grey;
}

.form{
    display: inline-block;
    margin-left: 40px;
}

input{
    display: inline-block;
    border-radius: 10px;
    width: 250px;
    height: 40px;
}
button{
    display:inline-block;
    width: 60px;
    height: 40px;
    border-radius: 10px;}
button:hover{
    background: grey;
}

.separacion{
    height: 300px;
    background-image:url(cine.jpg);
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
}
 
main{
    background-color:#0C223F;
    border-radius: 10px;
}

.parrafo{
  
    justify-content: space-around;
    text-align: left;
    color: white;
    padding-right: 40px;}
    


.Texto{
    background-color: black;
    color: white;
    text-align: center;
    
}
section{
    display: flex;
    justify-content:space-around;
    flex-direction: row;
    
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 40px;
    
}
.img{
    width: 200px;
    height: 300px;
}

article{
    width: 200px;
}
footer{
    text-align: center;
    background-color: black;
    color: white;
}

.imagenlogofooter{
    width: 100%;
}

@media (max-width: 1070px){
    header{
        height: auto;
        padding: 20px;        
    }
    .navbarra{
        display: flex;
        padding: 20px;  
    }
    section{
        width: 0%;
        justify-content: flex-start;
        margin-left: 25px;
    }
}
@media (max-width: 1020px){
    section{
        margin-left: 0%;
    }
}
@media (max-width: 1010px){
    section{
        display: flex;
        width: 100vw;
    
        justify-content: center;
    }
}
@media (max-width: 1000px){
    .img{
        width: 150px;
        height: 200px;
    }
    
    article{
        width: 150px;
    }

}
@media (max-width: 770px){
    .img{
        width: 130px;
        height: 200px;
    }
    
    article{
        width: 130px;
        text-align: center;
    }
    .parrafo{
        font-size: 10px;
    }
    section{
        display: flex;
        justify-content: center;
    }


}
@media (max-width: 660px){
    section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .img{
        width: 300px;
        height: 400px;
    }
    
    article{
        width: 300px;
    }
    .parrafo{
        font-size: 20px;
    }
}
@media (max-width: 580px){
    .nav-enlace{
        font-size: 10px;
        width: 80px;
    }
    .form{
        margin: 0%;
    }
}
@media (max-width: 500px){
    .img{
        width: 250px;
        height: 300px;
    }
    
    article{
        width: 250px;
    }
    .parrafo{
        font-size: 15px;
    }
    .nav-enlace{
        font-size: 9px;
        width: 70px;
    }
   
}
@media (max-width: 450px){
    .nav-enlace{
        font-size: 6px;
        width: 60px;
    }
}
@media (max-width: 400px){
    .nav-enlace{
        font-size: 6px;
        width: 50px;
        padding: 10px 15px;
      
    }
    
}



